<div class="container-fluid p-4">
  <div class="row">
    <div class="card">
      <!--      <h5 class="card-header">Featured</h5>-->
      <div class="card-body" align="center">
        <h2>Chargeback</h2>
        <p class="card-text">Enter the amount that you would chargeback to your customer. The values must not exceed the overall transaction amount.</p>
        <div class="row g-3 align-items-center">
          <div class="col"  align="center">
            <label for="amount" class="col-form-label fs-3">Chargeback Amount</label>
          </div>
          <div class="col" align="start" >
            <input type="text" id="amount" class="form-control" aria-describedby="passwordHelpInline">
          </div>
          <div>
            <a href="#" class="btn btn-secondary">Chargeback</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>