<div class="container-fluid p-4">
  <div class="row">
    <div class="card">
      <!--      <h5 class="card-header">Featured</h5>-->
      <div class="card-body" align="center">
        <h2>Chargeback</h2>
        <p class="card-text">If all documents and reasons Submit is valid. Click on the accept option orelse click on decline option..</p>
        <div class="row g-3 align-items-center">
          <div>
            <a href="/transactions/chargeback/cardDetails" style="border-radius:25px;" class="btn btn-success" >Accept</a>
            <a href="/transactions/chargeback" style="border-radius:25px;" class="btn btn-danger" >Decline</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>